<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Uso do GPS para Pegar Localização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="pegarLocalizacao()">Pega Localização</ion-button>
  <ion-list>
    <ion-list *ngIf="location">
      <ion-item>
        <ion-input label="Latitude:" value="{{location.latitude}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Longitude:" value="{{location.longitude}}"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  <div #mapElement style="width: 100%; height: 100%;"></div>
</ion-content>
